{% include 'header.html' %}

<h3>{{ books|length }} Search Result/s For : <strong>"{{ search_key }}"</strong></h3>

{% for book in books %}
<hr>
<div class="row">
    <div class="col-sm-3">
        <img src="{{ book.thumbnail_url }}" alt="{{ book.title }}" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
        <h4>{{ book.title }}</h4>
        <p><strong>Author/s : </strong>{{ book.authors }}</p>
        <p><strong>Page Count : </strong>{{ book.pageCount }}</p>
        <p><strong>Rating : </strong>{{ book.rating }}</p>
    </div>
    <div class="col-sm-3">
        <form action="/storebook" method="POST">
            <input type="hidden" name="isbn" value="{{ book.isbn }}">
            <input type="hidden" name="title" value="{{ book.title }}">
            <input type="hidden" name="authors" value="{{ book.authors }}">
            <input type="hidden" name="pageCount" value="{{ book.pageCount }}">
            <input type="hidden" name="rating" value="{{ book.rating }}">
            <input type="hidden" name="thumbnail_url" value="{{ book.thumbnail_url }}">
            <input type="submit" value="Add Book" class="btn btn-success">
        </form>
    </div>
</div>
{% endfor %}

{% include 'footer.html' %}